* {
    font-family: Arial, sans-serif;
}

body {
    background-color: bisque;
}

#headingMain {
    text-align: center;
}

main {
    display: block;
}

#logo {
    float: left;
    max-width: 15em;
}

#container {
    width: 80%;
    margin: 0 auto 0 auto;
}

/*Menu start*/
nav {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 57%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 5px solid #ffffff;
}

nav ul {
    padding: 0%;
    display: inline-block;
    width: max-content;
    margin: 10px 0;
}

nav li {
    list-style: none;
    font-size: 150%;
    width: 7.5vw;
    display: inline;
    float: left;
    border: 0;
    background-color: rgba(256,256,256,0);
}

nav li a {
    text-decoration: none;
    font-size: 1vw;
    width: fit-content;
    padding: 6px;
    text-decoration: none;
    color: black;
}
/*Menu end*/
main {
    margin-top: 4%;
    font-family: Georgia, "Times New Roman", serif;
    display: block;
}

caption {
    font-size: 2em;
    margin-bottom: 15px;
}

table {
    margin: 0 auto 0 auto;
}

th {
    font-size: 1.2em;
    text-decoration: underline;
}

table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color:rgba(192,192,192,0.7);
}

tr:hover {
    background-color: cornsilk;
}

.noHover:hover {
    background-color: bisque;
}


.dropbtn {
    font-size: 1em;
    font-weight: bold;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: bisque;
    border-bottom: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: rgba(192,192,192,0.8);}